(
	name: Some("Features"),
	id: 1,
	tiles: {
		0: "../features/tree_stump.ron",
		1: "../features/tree.ron",
		2: "../features/apple_tree_empty.ron",
		3: "../features/apple_tree.ron",
		4: "../features/coconut_tree_stump.ron",
		5: "../features/coconut_tree.ron",
		6: "../features/cactus.ron",
		7: "../features/berry_bush_empty.ron",
		8: "../features/berry_bush.ron",
		9: "../features/rocks.ron",
		10: "../features/stone_wall.ron",
		11: "../features/wall.ron",
		12: "../features/floor.ron"
	}
)
