(
	name: "Cactus",
	tile: Variant([
		(
			weight: 1.0,
			tile: Standard("features/cactus/var-1.png")
		),
		(
			weight: 1.0,
			tile: Standard("features/cactus/var-2.png")
		),
		(
			weight: 1.0,
			tile: Standard("features/cactus/var-3.png")
		)
	])
)
